<a href="https://colab.research.google.com/github/msathwik007/CLASS-20/blob/main/Nested_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

for r in range(0,5):
  for c in range(0,r+1):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [8]:

for i in range(0,5):
  for j in range(0,i+1):
    print(j, end = " ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [10]:

num = 5
for i in range(1,num+1):
  for j in range(1,i+1):
    print(j, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:

for i in range(0,5):
  for j in range(num,i,-1):
    print("*", end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [14]:

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j, end = " ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
for i in range(0,5):
  print(i)

0
1
2
3
4